/* Cole Norton */
body {

    background-color:rgb(177, 222, 236);
}

ol {
    color: white;



}

div {

    padding-bottom: 8em;
}

h1 {
    color:white;
    font: size 10px;;
    font-style: courier;
    


}

    

p {
    color: white;
    font-style: courier;
    
    }
    
img{
        width: 600px;
        height: 400px;
        
        }

        